.parentGridDiv{
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.statInfo{
  height: 100px;
  font-size: 14px;
  background: #f9f9f9;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
}

.info{
  padding-left: 15px;
}

.statInfo .label{
  font-weight: 600;
  color:#666;
}

.btnDiv{
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


